---
import { Card, Heading, Link } from 'accessible-astro-components'
import { getCollection } from 'astro:content'

import postImage1 from '@assets/images/posts/post-image-1.png'
import postImage2 from '@assets/images/posts/post-image-2.png'
import postImage3 from '@assets/images/posts/post-image-3.png'
import postImage4 from '@assets/images/posts/post-image-4.png'
import postImage5 from '@assets/images/posts/post-image-5.png'
import postImage6 from '@assets/images/posts/post-image-6.png'

const postImages = [postImage1, postImage2, postImage3, postImage4, postImage5, postImage6]

const posts = await getCollection('blog')
const featured = posts
  .sort((a, b) => new Date(b.data.publishDate).valueOf() - new Date(a.data.publishDate).valueOf())
  .slice(0, 3)
---

<section class="my-64">
  <div class="container">
    <div class="mb-8 flex flex-wrap items-end justify-between gap-4">
      <div>
        <Heading level="h2">From the blog</Heading>
        <p class="mt-2 text-xl">Reflections, resources, and stories from our community.</p>
      </div>
      <Link href="/blog">Read all posts →</Link>
    </div>
    <ul class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
      {
        featured.map((post, index) => (
          <li>
            <Card
              imageComponent={postImages[index % postImages.length]}
              url={`/blog/${post.id}`}
              title={post.data.title}
              headingLevel="h3"
              footer={new Intl.DateTimeFormat('en-US', {
                year: 'numeric',
                month: 'long',
                day: 'numeric',
              }).format(new Date(post.data.publishDate))}
              fullHeight={true}
            >
              {post.data.description}
            </Card>
          </li>
        ))
      }
    </ul>
  </div>
</section>
